{% render 'partials/head.liquid' %}
<body>
    <div class="header">
        <h1> Playlists</h1>
    </div>

    <div id="playlistList">
        {% for playlist in playlists %}
        <div class="playlist-card">
            <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}?width=112&height=95" alt="karakters">
            
            <div class="playlist-card-content">
                <h2>{{ playlist.name }}</h2>
                <p>{{ playlist.description }}</p>
            </div>

            <!-- Flag Container -->
            {% comment %} <div class="flag-container">
                <img class="flag-icon" src="flagimage.png" alt="English">
            </div> {% endcomment %}
            <!-- Play Button -->
            <button class="play-button">
                Play {{ playlist.name }}
            </button>

            <!-- Heart Icon -->
             <form method="POST" action="/like/{{ playlist.id }}">
                <button type="submit">
                    <svg class="heart" viewBox="0 0 24 24">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                    </svg>
                </button>
             </form>
        </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const hearts = document.querySelectorAll(".heart");
            hearts.forEach(heart => {
                heart.addEventListener("click", function () {
                    this.classList.toggle("liked");
            const playButtons = document.querySelectorAll(".play-button");

            playButtons.forEach(button => {
                button.addEventListener("click", function () {
                    
                    this.classList.add("loading");

                    setTimeout(() => {
                       
                        this.classList.remove("loading"); 
                        alert("Playing playlist: " + this.textContent.trim());
                    }, 2000);  // laat zien voor 2 seconden
                });
            });
        });
    </script>

    {% include 'partials/foot.liquid' %}
</body>
